body {
    background-color: #c3cfe2;   
    color: black;
    text-align: center;
}

.container {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    border: solid 5px red;
    border-radius: 20px;
    max-width: 500px;
    padding: 0;
    margin: 20px;
    text-align: center;
    box-shadow: 2px 2px 15px 2px grey;  
}

.boven {
    background-color: yellow;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0;
    padding-top: 40px;
}

.onder {
    background-color: green;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 120px;
    margin: 0;
}

.foto {
    border: solid 5px red;
    border-radius: 50%;
    width: 150px;
    transform: translateY(85px);
}

.instr {
    font-size: 12px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.naam {
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
    margin: 0;   
}

.instrument {
    font-family: 'Long Cang', cursive;
    font-size: 40px;
}